{% extends 'shop/base.html' %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
{% for position in positions %}
        <img width="100" height="100" src="{{ position.0.image.url }}" alt="{{ position.0.name }}"><br/>
        {{ position.1 }}x <b>{{ position.0.name }}</b>, <i>{{ position.2 }} RUB</i>
        <hr/>
{% endfor %}
<h1>Total cost: {{ total_cost }} RUB</h1>
<form action="{% url 'checkout' %}" method="POST">
    {% csrf_token %}
    <table>{{ form }}</table>
    <input type="submit" value="Confirm order"/>
</form>
{% endblock %}